<DOCTYPE html>
</DOCTYPE>
<head>
</head>
<body>
    <h1>Air Traffic Control</h1>
    <h3>Create Flight</h3>
    <form action="/create-flight" method="post">
        <label for="flightName">Flight Name</label>
        <input type="text" id="flightName" name="flightName">
        <br/>
        <label for="departureAirport"> Departure Airport </label>
        <input type="text" id="departureAirport" name="departureAirport">
        <br/>
        <label for="arrivalAirport"> Arrival Airport </label>
        <input type="text" id="arrivalAirport" name="arrivalAirport">
        <br/>
        <input type="submit" value="Submit">
    </form>

    <h3>Create Airport</h3>
    <form action="/create-airport">
        <label for="airportName">Airport Name</label>
        <input type="text" id="airportName" name="airportName">
        <br/>
        <label for="latitude">Latitude</label>
        <input type="text" id="latitude" name="latitude">
        <br/>
        <label for="longitude">Longitude</label>
        <input type="text" id="longitude" name="longitude">
        <br/>
        <input type="submit" value="Submit">
    </form>
    <script></script>
</body>